/****** UNIVERSAL STARTER ******/
* {
  box-sizing: border-box;
  font-family: Arial, Times, sans-serif; }

html {
  height: 100%;
  background: url(https://raw.githubusercontent.com/nss-day-cohort-14/static-web-group-project-dos-teamlunchroom/master/images/wall.jpg) no-repeat center center fixed;
  background-size: cover; }

/****** SWITCH BETWEEN LIST/ADD VIEWS ******/
/*******************************/
header {
  margin: 25px auto;
  width: 80%;
  border-radius: 0px 20px 0px 0px;
  border: 2px solid rgba(20, 20, 20, 0.5);
  background-color: rgba(65, 131, 178, 0.75);
  margin-bottom: 10px;
  box-shadow: 0px 3px 4px 0px rgba(30, 33, 41, 0.7); }

.viewNav li {
  display: inline-block;
  font-size: 1.5rem; }

.viewNav {
  padding-left: 20px; }

/****** FILTER NAV BOX ******/
.filterNav {
  padding: 5px;
  width: 29%;
  border-radius: 0px 0px 0px 20px;
  border: 2px solid rgba(20, 20, 20, 0.5);
  background: radial-gradient(ellipse at center, rgba(156, 214, 255, 0.4) 0%, rgba(156, 214, 255, 0.75) 100%);
  color: rgba(50, 50, 50, 0.8);
  box-shadow: 0px 3px 4px 0px rgba(30, 33, 41, 0.7); }

.rangeSlider {
  width: 95%;
  margin-top: 20px; }

.filterNav div {
  margin: 10px 10px 20px 2px; }

.artistDrop {
  width: 95%; }

.albumDrop {
  width: 95%; }

/****** outputNav BOX ******/
.outputNav {
  padding: 5px;
  width: 69.5%;
  border: 2px solid rgba(20, 20, 20, 0.5);
  background-color: rgba(178, 169, 157, 0.75);
  background: radial-gradient(ellipse at center, rgba(239, 250, 255, 0.15) 0%, rgba(178, 169, 157, 0.75) 100%);
  box-shadow: 0px 3px 4px 0px rgba(30, 33, 41, 0.7);
  overflow-y: scroll; }

.addToDomEl {
  padding: 2px 20px;
  color: rgba(50, 50, 50, 0.8);
  padding: 0px 15px; }

.songGroup li {
  display: inline-block; }

.songGroup {
  padding: 0px 10px 3px;
  margin: 5px 0px 5px;
  border-bottom: 1px dashed rgba(20, 20, 20, 0.5); }

div .songTitle {
  color: rgba(20, 20, 20, 0.8);
  padding-left: 0px;
  margin: 15px 0px 0px; }

.delButton {
  float: right;
  background-color: rgba(120, 120, 120, 0.3);
  border: 1px solid rgba(20, 20, 20, 0.2);
  color: rgba(20, 20, 20, 0.5);
  border-radius: 5px;
  font-size: .7rem; }

.artist {
  font-weight: bold;
  text-transform: uppercase; }

.genre {
  color: rgba(65, 131, 178, 0.75);
  font-size: .75rem;
  font-weight: bold; }

/****** ELEMENTS ADDED TO DOM (MusicHist2) ******/
/****** GENRE CHECKMARKS ******/
.leftChecks {
  font-size: 1.5rem;
  float: left;
  padding: 0 3px;
  list-style: none;
  margin: auto; }

.rightChecks {
  font-size: 1.5rem;
  float: right;
  padding: 0 3px;
  list-style: none;
  margin: auto; }

.genreChecks ul {
  display: inline-block;
  margin: 0 0 15px 0; }

.genreChecks li {
  padding-bottom: 5px; }

input[type="checkbox"] {
  transform: scale(1.3, 1.6); }

/****** FILTER BUTTON ******/
.filterButton1 {
  padding: 8px;
  background-color: rgba(120, 120, 120, 0.5);
  border: 2px solid rgba(20, 20, 20, 0.5);
  margin: 3px 5% 0px 5%;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0px 20px 0px 20px;
  box-shadow: 0px 3px 4px 0px rgba(30, 33, 41, 0.7);
  width: 90%; }

.filterButton {
  clear: both;
  margin: auto;
  text-align: center; }

div > label {
  font-size: 1.5rem;
  color: rgba(20, 20, 20, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1rem; }

/****** add-view DIV GROUP ******/
#add-view {
  margin: auto;
  width: 100%;
  padding: 5px;
  border-radius: 0px 0px 0px 20px;
  border: 2px solid rgba(20, 20, 20, 0.5);
  background-color: rgba(255, 208, 139, 0.9);
  background: radial-gradient(ellipse at center, rgba(255, 208, 139, 0.2) 0%, rgba(255, 208, 139, 0.9) 100%);
  box-shadow: 0px 3px 4px 0px rgba(30, 33, 41, 0.7);
  min-height: 50vh;
  max-height: 80vh; }

#add-view > label {
  padding: 0%;
  margin: 5%;
  display: block;
  text-align: center;
  letter-spacing: .1rem; }

input[type="text"] {
  padding: 10px;
  margin: 3px 5% 0px 5%;
  text-align: center;
  display: block;
  width: 90%;
  background-color: rgba(239, 250, 255, 0.9);
  color: rgba(65, 131, 178, 0.9); }

#addButton {
  padding: 10px;
  background-color: rgba(120, 120, 120, 0.5);
  border: 2px solid rgba(20, 20, 20, 0.5);
  margin: 3px 5% 0px 5%;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0px 20px 0px 20px;
  box-shadow: 0px 3px 4px 0px rgba(30, 33, 41, 0.7);
  width: 90%; }

#addingEl {
  color: rgba(30, 33, 41, 0.7);
  font-size: 1.75rem;
  text-align: center;
  padding: 10px;
  margin: 15px 5% 0px 5%;
  display: block;
  width: 90%; }

/****** add-view DIV GROUP ******/
#profile-view {
  margin: auto;
  width: 100%;
  padding: 5px;
  border-radius: 0px 0px 0px 20px;
  border: 2px solid rgba(20, 20, 20, 0.5);
  background: radial-gradient(ellipse at center, rgba(156, 214, 255, 0.2) 0%, rgba(156, 214, 255, 0.75) 100%);
  box-shadow: 0px 3px 4px 0px rgba(30, 33, 41, 0.7);
  min-height: 50vh;
  max-height: 80vh; }

#profile-view > label {
  padding: 0%;
  margin: 5%;
  display: block;
  text-align: center;
  letter-spacing: .1rem; }

input[type="text"] {
  padding: 10px;
  margin: 3px 5% 0px 5%;
  text-align: center;
  display: block;
  width: 90%;
  background-color: rgba(239, 250, 255, 0.9);
  color: rgba(65, 131, 178, 0.9); }

#addButton {
  padding: 10px;
  background-color: rgba(120, 120, 120, 0.5);
  border: 2px solid rgba(20, 20, 20, 0.5);
  margin: 3px 5% 0px 5%;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0px 20px 0px 20px;
  box-shadow: 0px 3px 4px 0px rgba(30, 33, 41, 0.7);
  width: 90%; }

#addingEl {
  color: rgba(30, 33, 41, 0.7);
  font-size: 1.75rem;
  text-align: center;
  padding: 10px;
  margin: 15px 5% 0px 5%;
  display: block;
  width: 90%; }

/****** LOWER NAV GROUP DIV (ALL LOWER NAV) ******/
.lowerNav {
  display: flex;
  justify-content: space-between;
  max-height: 80vh;
  /*min-height: 50vh;*/ }

/****** lowerNav DIV GROUP ******/
.lowerNav {
  margin: auto;
  width: 80%; }
