// My Colors:
$headerNav-clr: rgba(065,131,178, .75);
$filterNav-clr: rgba(156,214,255, .75);
$outputNav-clr: rgba(178,169,157, .75);;
$text-blue: rgba(065,131,178, .9);
$accent-blue: rgba(181,224,255, .9);
$accent-orange: rgba(255,208,139, .9);
$border-color: rgba(20, 20, 20, .5);
$shadow-color: rgba(30,33,41, .7);
$pale-blue: rgba(239,250,255, .9);
